div {
	width: 300px;
	height: 250px;
	box-shadow: inset 0px 0px 0px 1px black;
	overflow: hidden;
}

span {
	display: block;
	float: left;
	width: 146px;
	height: 90px;
	background: #00ff4f;
	box-shadow: inset 0px 0px 0px 1px blue;
}

/* odd children must have margin-right: 3px in order to have 2px of white margin (+1px black "border") */
span:nth-child(odd) {
	margin: 2px 2px 0 3px;
}

span:nth-child(even) {
	margin-top: 2px;
}

/* 1st, 2nd child must have margin-top: 3px in order to have 2px of white margin (+1 black "border") */
span:nth-child(1) {
	margin-top: 3px;
	margin-right: 2px;
}

span:nth-child(2) {
	margin-top: 3px;
}

/* so bottom black "border" is in front of green box */
span:nth-child(5) {
	position: relative;
	z-index: -1;
}

/* so bottom black "border" is in front of green box */
span:nth-child(6) {
	position: relative;
	z-index: -1;
}

span:hover {
	background: blue;
	box-shadow: inset 0px 0px 0px 1px #00ff4f;
}

footer {
	position: absolute;
	left: 9px;
	width: 298px;
	height: 62px;
	background: red;
	margin-top: 187px;
}

footer:hover {
	height: 155px; 
	background: red;
	margin-top: 94px;
}
